<footer id="footer">
  <div class="container-fluid px-3 px-md-5 pt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-menu">
          <p class="mt-4">© 2025 Sanskriti Jewels. All rights reserved.</p>
          <div class="social-links mt-4">
            <ul class="d-flex list-unstyled gap-3">
              <li class="social">
                <a href="https://facebook.com/sanskritijewels" target="_blank">
                  <iconify-icon
                    class="social-icon fs-4 me-4 text-white"
                    icon="ri:facebook-fill"
                  ></iconify-icon>
                </a>
              </li>
              <li class="social">
                <a href="https://twitter.com/sanskritijewels" target="_blank">
                  <iconify-icon
                    class="social-icon fs-4 me-4 text-white"
                    icon="ri:twitter-fill"
                  ></iconify-icon>
                </a>
              </li>
              <li class="social">
                <a href="https://pinterest.com/sanskritijewels" target="_blank">
                  <iconify-icon
                    class="social-icon fs-4 me-4 text-white"
                    icon="ri:pinterest-fill"
                  ></iconify-icon>
                </a>
              </li>
              <li class="social">
                <a href="https://instagram.com/sanskritijewels" target="_blank">
                  <iconify-icon
                    class="social-icon fs-4 me-4 text-white"
                    icon="ri:instagram-fill"
                  ></iconify-icon>
                </a>
              </li>
              <li class="social">
                <a href="https://youtube.com/sanskritijewels" target="_blank">
                  <iconify-icon
                    class="social-icon fs-4 me-4 text-white"
                    icon="ri:youtube-fill"
                  ></iconify-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="footer-menu">
          <h6 class="text-uppercase fw-bold mb-4">About</h6>
          <ul class="menu-list list-unstyled">
            <li class="menu-item">
              <a href="about.html#process" class="footer-link">How It Works</a>
            </li>
            <li class="menu-item">
              <a href="collections.html" class="footer-link">Our Collections</a>
            </li>
            <li class="menu-item">
              <a href="blog.html" class="footer-link">Blog</a>
            </li>
            <li class="menu-item">
              <a href="about.html#testimonials" class="footer-link"
                >Testimonials</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-menu">
          <h6 class="text-uppercase fw-bold mb-4">Quick Links</h6>
          <ul class="menu-list list-unstyled">
            <li class="menu-item">
              <a href="index.html" class="footer-link">Home</a>
            </li>
            <li class="menu-item">
              <a href="about.html" class="footer-link">About us</a>
            </li>
            <li class="menu-item">
              <a href="collections.html" class="footer-link">Collections</a>
            </li>
            <li class="menu-item">
              <a href="shop.html" class="footer-link">Shop</a>
            </li>
            <li class="menu-item">
              <a href="contact.html" class="footer-link">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-2">
        <div class="footer-menu">
          <h6 class="text-uppercase fw-bold mb-4">Services</h6>
          <ul class="menu-list list-unstyled">
            <li class="menu-item">
              <a href="services.html#custom-design" class="footer-link"
                >Custom Design</a
              >
            </li>
            <li class="menu-item">
              <a href="services.html#repair" class="footer-link"
                >Jewelry Repair</a
              >
            </li>
            <li class="menu-item">
              <a href="services.html#appraisal" class="footer-link"
                >Appraisal</a
              >
            </li>
            <li class="menu-item">
              <a href="services.html#cleaning" class="footer-link">Cleaning</a>
            </li>
            <li class="menu-item">
              <a href="services.html#consultation" class="footer-link"
                >Consultation</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-menu">
          <h6 class="text-uppercase fw-bold mb-4">Help Center</h6>
          <ul class="menu-list list-unstyled">
            <li class="menu-item">
              <a href="faq.html" class="footer-link">FAQs</a>
            </li>
            <li class="menu-item">
              <a href="shipping.html" class="footer-link">Shipping Info</a>
            </li>
            <li class="menu-item">
              <a href="returns.html" class="footer-link">Returns</a>
            </li>
            <li class="menu-item">
              <a href="privacy.html" class="footer-link">Privacy Policy</a>
            </li>
            <li class="menu-item">
              <a href="terms.html" class="footer-link">Terms & Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
